.course-index-content {
  padding: 10px;
  .item {
    width: 80%;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    background: #409EFF;
    color:#fff;
    text-align: center;
    margin-bottom: 10px;
  }
}